body {
	text-align: center;
	color: white !important;
	background-color: #d6648c !important;
    padding-top: 70px;
}

h1 {
	font-size: 4em !important;
}

.bone {
	height: .8em;
	line-height: 25% !important;
}