body {
	text-align: center;
	color: white !important;
	background-color: #d6648c !important;
    padding-top: 70px;
    font-family: 'Dosis' !important;
}

h1 {
	font-size: 4em !important;
}

.title {
    font-family: Helvetica;
    color : #34809a;
}

#hipdog {
    margin: 0 0 2em 0;
    width: 100%;
    height: auto;
    position: relative;
}

#contactinfo {
    margin-top: -2em;
}

#row1 {
    /*margin-top: 4em;*/
}

.menu {
    font-size: 2.5em;
    width: 100%;
    margin:0 auto;
    margin-top: 5em;
}

.menuitems {
    list-style-type: none;
    color : #34809a;
    border: 2px solid #34809a;
    background-color: white;
    width: 80%;
    border-radius: 10px;
    margin: 0 .4em auto;
    font-size: .8em;
}

.bone {
	height: .8em;
}

.dogpics {
	margin-top: 2em;
}

.dog {
	border: .5em solid #34809a;
	border-radius: 100%;
	height: 18em;
	margin: 0em 1em 2em 1em;
}

#map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    width: 90% !important;
    margin: 2em;
    border: 1em solid white;
}

#fb {
    width:40%;
    margin: 6em 0 4em 0;
}

#aboutcontain {
    margin-top: 2em;
}

.phone-mobile {
    margin-top: -.5em;
}

.addyphone {
    line-height: 3px;
}

@media (max-width: 720px) {
    .menuitems {
        margin-top: .2em;
    }
    
    #row1 {
        margin-top: 0;
    }
    
    #fb {
        margin: .5em 0 1em 0;
        width: 80%;
    }
    
    .menu {
        margin: -.8em 0 1em 0;
    }
    
    .addyphone {
        margin-top: -1em
    }
    
    #hipdog {
        width: 65%;
    }
}