body {
	text-align: center;
	color: white !important;
	background-color: #d6648c !important;
    padding-top: 70px;
}

h1 {
	font-size: 4em !important;
}

.title {
    font-family: Helvetica;
    color : #25809b;
}

#hipdog {
    margin: 2em 0 2em 0;
    width: 50%;
    height: auto;
    border-radius: 100%;
    position: relative;
}

#row1 {
    margin-top: 4em;
}

.menu {
    list-style-type: none;
    font-size: 2.5em;
}

.menuitems {
    color : #25809b;
    border: 2px solid #25809b;
    background-color: white;
    margin-top: .5em;
    width: 100%;
    margin: 0 auto;
    margin-top: .5em
}

#menumargin {
    margin-top: 1em;
}

.bone {
	height: .8em;
}

.dogpics {
	margin-top: 5em;
}

.dog {
	border: .8em solid white;
	border-radius: 100%;
	height: 20em;
	margin: 0em 1em 2em 1em;
}

#map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    width: 80% !important;
    height: 100% !important;
    margin: 2em;
}

@media (max-width: 720px) {
    .menuitems {
        margin-top: .2em;
    }
    
    #row1 {
        margin-top: 0;
    }
}